/* sidebar tiny */
.sidebar-tiny,
.sidebar-full
{
    display: flex;
    flex-direction: column;
    gap: 3px;

    background-color: #fff;
    padding: 20px 4px;
    z-index: 2;
}

.sidebar-tiny
{
    width: 75px;
    position: fixed;
    top: 61px;
    left: 0;
    bottom: 0;
}

.sidebar-tiny .link
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    padding: 15px 5px;
    border-radius: 10px;
    font-size: 10px;
}

.active,
.link:hover
{
    background-color: rgb(224, 224, 224);
}

.link img
{
    height: 22px;
}

hr
{
    margin: 10px;
}

/* sidebar-full */
.sidebar-full 
{
    display: flex;
    flex-direction: column;
    width: 225px;
    overflow-y: scroll;

    position: fixed;
    top: 61px;
    left: 0;
    bottom: 0;

    margin-left: -300px;
    transition: margin-left 0.5s ease 0s;
}

.sidebar-full .link
{
    display: flex;
    align-items: center;
    gap: 20px;


    padding: 8px 13px;
    border-radius: 10px;
    margin-bottom: 3px;
}

.sidebar-full .link .span
{
    text-align: center;
}

.sidebar-full .link .profil
{
    border-radius: 50%;
    height: 28px;
}

.sidebar-full .chevron-down
{
    transform: rotate(-90deg);
}


.title
{
    font-weight: 500;
    font-size: 16px;
    padding: 15px 012px 10px;
}

.vous
{
    font-weight: bold;
}

/* classes js */

.show-sidebar-full
{
    margin-left: 0;
}
